/*
 * https://codepen.io/basham/pen/OpNybO
 */
:root {
	/* https://oklch.com/#60,0.2,25,100 */
	--color-60-02-25: oklch(75% 0.25 25);

	/*
	red: ff0000
	yellow: feea00
	*/
	--color-bg-0: oklch(0% 0.05 103);
	--color-bg-1: oklch(20% 0.05 103);
	--color-bg-2: oklch(25% 0.05 100);
	--color-bg-3: oklch(92% 0.2 103);
	--color-accent: oklch(92% 0.2 103);
	--color-text: oklch(92% 0.05 103);
	--color-link: oklch(63% 0.25 30);

	--font: system-ui, sans-serif;

	--fs-0: calc(14rem / 16);
	--fs-1: 1rem;
	--fs-2: calc(18rem / 16);
	--fs-3: calc(20rem / 16);
	--fs-4: calc(28rem / 16);

	--lh-0: 1rem;
	--lh-1: 1.25rem;
	--lh-2: 1.5rem;
	--lh-3: 1.75rem;
	--lh-4: 2rem;

	--px-1: calc(1rem / 16);
	--px-2: calc(2rem / 16);
	--px-3: calc(3rem / 16);

	--size-1: 0.25rem;
	--size-2: 0.5rem;
	--size-3: 0.75rem;
	--size-4: 1rem;
	--size-5: 1.25rem;
	--size-6: 1.5rem;
	--size-7: 1.75rem;
	--size-8: 2rem;
}

* {
	box-sizing: border-box;
}

:focus {
	outline: var(--px-2) solid var(--color-link);
	outline-offset: var(--size-1);
}

html {
	background-color: var(--color-bg-0);
	color: var(--color-text);
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: var(--font);
	font-size: var(--fs-2);
	line-height: var(--lh-2);
	margin: 0;
}

h1 {
	font-size: var(--fs-4);
	font-weight: bold;
	line-height: var(--lh-4);
	margin: var(--size-2) 0 0;
}

button {
	background-color: transparent;
	border: none;
	border-bottom: var(--px-2) solid var(--color-link);
	color: var(--color-accent);
	font-family: var(--font);
	font-size: inherit;
	font-weight: bold;
	padding: 0;
}

button:hover {
	cursor: pointer;
}

p {
	margin: var(--size-4) 0 0;
}

ul {
	margin: var(--size-4) 0 0;
	padding-left: var(--size-4);
}

li {
	margin-top: var(--size-2);
}

article > :first-child {
	font-size: var(--fs-3);
	line-height: var(--lh-3);
}

.u-sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
